force-app/main/default/flows/After_Create_Update_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_If_Send_Platform_Event</name>
        <label>Check If Send Platform Event</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Flag_Skip</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Send</defaultConnectorLabel>
        <rules>
            <name>Send</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Skip_Platform_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Platform_Event</targetReference>
            </connector>
            <label>Send</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AgeGroupUpdated</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK(TEXT({!$Record.Age_Group__pc})),
    NULL,
    IF(
        ISBLANK(TEXT({!$Record.Birthdate_Year__pc})),
        TEXT({!$Record.Age_Group__pc}),
        IF(
            YEAR(TODAY()) - VALUE(TEXT({!$Record.Birthdate_Year__pc})) &lt;= 25, 
            &apos;30&apos;, 
            IF(
                YEAR(TODAY()) - VALUE(TEXT({!$Record.Birthdate_Year__pc})) &gt; 25 &amp;&amp; YEAR(TODAY()) - VALUE(TEXT({!$Record.Birthdate_Year__pc})) &lt;= 35, 
                &apos;31&apos;, 
                IF(
                    YEAR(TODAY()) - VALUE(TEXT({!$Record.Birthdate_Year__pc})) &gt; 35 &amp;&amp; YEAR(TODAY()) - VALUE(TEXT({!$Record.Birthdate_Year__pc})) &lt;= 45, 
                    &apos;41&apos;, 
                    IF(
                        YEAR(TODAY()) - VALUE(TEXT({!$Record.Birthdate_Year__pc})) &gt; 45 &amp;&amp; YEAR(TODAY()) - VALUE(TEXT({!$Record.Birthdate_Year__pc})) &lt;= 55, 
                        &apos;50&apos;, 
                        &apos;over 55&apos;
                    )
                )
            )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>EmployeePlusOne</name>
        <dataType>Number</dataType>
        <expression>{!$Record.NumberOfEmployees}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>GenderUpdated</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISPICKVAL({!$Record.Gender__pc}, &quot;&quot;), ISPICKVAL({!$Record.Customer_Title__pc}, &quot;91&quot;)), 
    &quot;2&quot;, 
    IF(
        AND(ISPICKVAL({!$Record.Gender__pc}, &quot;&quot;), ISPICKVAL({!$Record.Customer_Title__pc}, &quot;93&quot;)), 
        &quot;1&quot;, 
        IF(
            AND(ISPICKVAL({!$Record.Gender__pc}, &quot;&quot;), ISPICKVAL({!$Record.Customer_Title__pc}, &quot;94&quot;)), 
            &quot;3&quot;, 
            NULL
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>IsEcommerceUpdated</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISBLANK({!$Record.Ecommerce_Code__c}), FALSE, TRUE)</expression>
    </formulas>
    <formulas>
        <name>OrceIdModifiedOnUpdated</name>
        <dataType>DateTime</dataType>
        <expression>IF(
   OR(
      ISCHANGED({!$Record.Orce_Id__c}),
      ISNEW()
   ),
   NOW(),
   NULL
)</expression>
    </formulas>
    <formulas>
        <name>SyncToMarketingCloudUpdated</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(NOT($Record.is_Generic__pc), TEXT($Record.Master_Environment__pc) = &apos;1&apos;), TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>After Create/Update Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Create/Update Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Platform_Event</name>
        <label>Create Platform Event</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Address_District__c</field>
            <value>
                <elementReference>$Record.Billing_District__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Age_Group__c</field>
            <value>
                <elementReference>$Record.Age_Group__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity__c</field>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode__c</field>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState__c</field>
            <value>
                <elementReference>$Record.Billing_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet__c</field>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Region__c</field>
            <value>
                <elementReference>$Record.Billing_Region__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_State_County__c</field>
            <value>
                <elementReference>$Record.Billing_State_County__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate_Day__c</field>
            <value>
                <elementReference>$Record.Birthdate_Day__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate_Month__c</field>
            <value>
                <elementReference>$Record.Birthdate_Month__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate_Year__c</field>
            <value>
                <elementReference>$Record.Birthdate_Year__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Name__c</field>
            <value>
                <elementReference>$Record.Business_Name__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Certified_Email__c</field>
            <value>
                <elementReference>$Record.Certified_Email__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Class__c</field>
            <value>
                <elementReference>$Record.Customer_Class__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Type__c</field>
            <value>
                <elementReference>$Record.Customer_Type__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Group__c</field>
            <value>
                <elementReference>$Record.Discount_Group__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_enabled__c</field>
            <value>
                <elementReference>$Record.Discount_enabled__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dynamics__c</field>
            <value>
                <elementReference>$Record.Dynamics_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName__c</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fiscal_Code__c</field>
            <value>
                <elementReference>$Record.Fiscal_Code__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Gender__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName__c</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name_Local__c</field>
            <value>
                <elementReference>$Record.Last_Name_Local__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Entity_employee__c</field>
            <value>
                <elementReference>$Record.Marketing_PRC__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_HQ_Date__c</field>
            <value>
                <elementReference>$Record.Marketing_HQ_Date__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_HQ__c</field>
            <value>
                <elementReference>$Record.Marketing_HQ__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_PRC__c</field>
            <value>
                <elementReference>$Record.Marketing_PRC__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nationality__c</field>
            <value>
                <elementReference>$Record.Nationality__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orce_ID__c</field>
            <value>
                <elementReference>$Record.Orce_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail__c</field>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone_Prefix__c</field>
            <value>
                <elementReference>$Record.PersonMobilePhone_Prefix__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone__c</field>
            <value>
                <elementReference>$Record.PersonMobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Prefix__c</field>
            <value>
                <elementReference>$Record.Phone_Prefix__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Privacy_HQ__c</field>
            <value>
                <elementReference>$Record.Privacy_HQ__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profiling_HQ__c</field>
            <value>
                <elementReference>$Record.Profiling_HQ__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profiling_PRC__c</field>
            <value>
                <elementReference>$Record.Profiling_PRC__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recipient_Code__c</field>
            <value>
                <elementReference>$Record.Recipient_Code__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation_Code__c</field>
            <value>
                <elementReference>$Record.Salutation_Code__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>$Record.Source__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Source_LastUpdate__c</field>
            <value>
                <elementReference>$Record.Tech_Source_LastUpdate__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VIP_end_date__c</field>
            <value>
                <elementReference>$Record.Discount_end_date__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VIP_start_date__c</field>
            <value>
                <elementReference>$Record.Discount_start_date__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vat_Registration__c</field>
            <value>
                <elementReference>$Record.Vat_Registration__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkDayId__c</field>
            <value>
                <elementReference>$Record.WorkDayId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>XStore_Id__c</field>
            <value>
                <elementReference>$Record.XStore_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Xstore_Language__c</field>
            <value>
                <elementReference>$Record.Xstore_Language__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isCustomeranEmployee__c</field>
            <value>
                <elementReference>$Record.isCustomeranEmployee__pc</elementReference>
            </value>
        </inputAssignments>
        <object>Update_Client__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Account_Updated</name>
        <label>Account Updated</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Check_If_Send_Platform_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Age_Group__pc</field>
            <value>
                <elementReference>AgeGroupUpdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__pc</field>
            <value>
                <elementReference>GenderUpdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_E_Commerce__pc</field>
            <value>
                <elementReference>IsEcommerceUpdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orce_Id_Modified_On__pc</field>
            <value>
                <elementReference>OrceIdModifiedOnUpdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SyncToMarketingCloud__pc</field>
            <value>
                <elementReference>SyncToMarketingCloudUpdated</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Flag_Skip</name>
        <label>Update Flag Skip</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Skip_Platform_Event__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Updated</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
